body {
  text-align: center;
  background-color: white;
  font-family: Helvetica;

}
/* There is a problem with local .png background image - to solve */
.navigation {
  /*background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);*/
  background-image: url(../img/the-flatiron-building.png);
 color: white;
 padding: 0;
 margin: 0;
}
h1 {
  font-size: 70px;
  font-weight: bold;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  margin-top: 15px;
}

li a {
    text-decoration: underline;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.designed p {
  color: white;
  /*background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);*/
  background-image: url(../img/the-flatiron-building.png);
  font-size: 23px;
  font-weight: bold;
  background-color: dimgray;
}
.bottom a {
  text-decoration: none;
  font-size: 14px;
  color: black
}
footer {
  background-color: dimgray;
  text-align: left;

}
footer li {
  font-size: 11px;
  color: white;
  display: inline;
}

footer li a {
  font-size: 11px;
}
